{% extends 'DashboardExtend.html' %}
{% block content %}

<div class="main-link-form">
	<div class="main-admin">
	  <h2> Admin <span> <i class="fa fa-times" ></i> </span> <span class="minni"> <i class="fa fa-minus" ></i> </span>  </h2>
	</div>
	<div class="pull-left full-width main-admin-chat">
		<div class="admin pull-left full-width"> Hi </div>
		<div class="user pull-right full-width">admin</div>
	</div>
	
	<div class="pull-left full-width main-admin-chat">
		<div class="admin pull-left full-width"> How are You ? </div>
		<div class="user pull-right full-width"> Fine You say</div>
	</div>
	
	<div class="pull-left full-width main-admin-chat">
		<div class="admin pull-left full-width"> Ok !!</div>
		<div class="user pull-right full-width">Yup !!</div>
	</div>
	<div class="file-output pull-left full-width">
	
		<form action="/action_page.php">
		 <input type="file" />
		  <input type="text" id="lname" name="lname" placeholder="Write a Message.....">
		  <span class="submitting"><input type="submit" value="Send" class="btn btn-default" /></span>
		  
		  
		  
		</form> 
		  
	</div>	
</div>


{% endblock %}
