{% extends 'DashboardExtend.html' %}
	{% block content %}
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="background">
			<div class="form">
				<br>
				<center><h1>Topic With Keyword</h1></center>
				<br>
				<hr>
				<div class="first_name">
					<div class="name">Select Agent</div>

					<select id="cars" name="select">
						<option value=" ">Select...</option>
						{% for keyword in name_keyword %}	
						  <option value="{{keyword}}">{{keyword}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="first_name">
					<div class="name">Select Topic</div>

					<select  name="test">
						<option value=" ">Select...</option>
						{% for topic in Topic_list %}	
						  <option value="{{topic}}">{{topic}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="submitt">
					<button class="submit">submit</button>
				</div>
			</div>
		</div>
	</form>
{% endblock %}