
{% extends 'DashboardExtend.html' %}
{% block content %}
<div class="background">
<div class="list-agent">
   <div class="form">
       <br>
    <center><h1> Topics with Keyword </h1></center><br><hr><br>
   <div class="table-box">
       <p>Topic Name:  {{key_info}}</p>
       <br>
    <table>
      <tr>
        <th>Keyword</th>
        <th>Description</th>
      </tr>
        {% for i,j in keyword_list %}
                <tr>
                  <td> {{i}}</td>
                  <td>{{j}}</td>
                </tr>
        {% endfor %}
    </table>
    </div>
    </div>
    </div>
    </div>

{% endblock %}